<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="APP_NODE" value="local" force="true"/>
        <env name="SITE_ID" value="" force="true"/>
        <env name="ORGANIZATION_ID" value="" force="true"/>
        <env name="DB_CONNECTION" value="mysql" force="true"/>
        <env name="DB_DATABASE" value="r007_integration_test" force="true"/>
        <env name="DB_URL" value=""/>
        <env name="REVERB_PORT" value="8081" force="true"/>
        <env name="REVERB_HOST" value="127.0.0.1" force="true"/>
        <env name="REDIS_DB" value="10" force="true"/>
        <env name="REDIS_CACHE_DB" value="11" force="true"/>
        <env name="REDIS_PREFIX" value="r007_integration_test_" force="true"/>
        <env name="CACHE_STORE" value="redis" force="true"/>
        <env name="QUEUE_CONNECTION" value="sync" force="true"/>
        <env name="SESSION_DRIVER" value="array" force="true"/>
        <env name="BROADCAST_CONNECTION" value="null" force="true"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="ARGON_MEMORY" value="1024" force="true"/>
        <env name="ARGON_TIME" value="1" force="true"/>
        <env name="LOG_LEVEL" value="warning" force="true"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
